body {
  font-family: sans-serif;
  background-color: antiquewhite;
  text-align: center;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
span {
  margin: 20px;
}

nav, div {
  display: flex; 
  justify-content: center;
}